language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files

php:
    - 7.0
    - 7.1
    - 7.2
    - nightly

before_install:
    - composer self-update
    - if [ "$DEPENDENCIES" = "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;

install:
    - composer update $COMPOSER_FLAGS

script:
    #    - ./vendor/bin/phpcs --standard=ruleset.xml -p
    - phpunit
